<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>64</charcode>
    <chardata>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
      <data>128</data>
    </chardata>
  </character>
  <character>
    <charcode>65</charcode>
    <chardata>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
      <data>64</data>
    </chardata>
  </character>
  <character>
    <charcode>66</charcode>
    <chardata>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
      <data>32</data>
    </chardata>
  </character>
  <character>
    <charcode>67</charcode>
    <chardata>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>68</charcode>
    <chardata>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
      <data>8</data>
    </chardata>
  </character>
  <character>
    <charcode>69</charcode>
    <chardata>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
      <data>4</data>
    </chardata>
  </character>
  <character>
    <charcode>70</charcode>
    <chardata>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
      <data>2</data>
    </chardata>
  </character>
  <character>
    <charcode>71</charcode>
    <chardata>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
      <data>1</data>
    </chardata>
  </character>
  <character>
    <charcode>72</charcode>
    <chardata>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>73</charcode>
    <chardata>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>74</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>75</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>76</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>77</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>78</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>79</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
    </chardata>
  </character>
  <character>
    <charcode>80</charcode>
    <chardata>
      <data>0</data>
      <data>1</data>
      <data>3</data>
      <data>7</data>
      <data>15</data>
      <data>31</data>
      <data>63</data>
      <data>127</data>
    </chardata>
  </character>
  <character>
    <charcode>81</charcode>
    <chardata>
      <data>0</data>
      <data>128</data>
      <data>192</data>
      <data>224</data>
      <data>240</data>
      <data>248</data>
      <data>252</data>
      <data>254</data>
    </chardata>
  </character>
  <character>
    <charcode>82</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>255</data>
    </chardata>
  </character>
  <character>
    <charcode>83</charcode>
    <chardata>
      <data>255</data>
      <data>255</data>
      <data>255</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>84</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>1</data>
      <data>3</data>
      <data>1</data>
      <data>7</data>
      <data>51</data>
      <data>119</data>
    </chardata>
  </character>
  <character>
    <charcode>85</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>128</data>
      <data>192</data>
      <data>128</data>
      <data>224</data>
      <data>204</data>
      <data>238</data>
    </chardata>
  </character>
  <character>
    <charcode>86</charcode>
    <chardata>
      <data>193</data>
      <data>231</data>
      <data>227</data>
      <data>195</data>
      <data>199</data>
      <data>227</data>
      <data>199</data>
      <data>225</data>
    </chardata>
  </character>
  <character>
    <charcode>87</charcode>
    <chardata>
      <data>199</data>
      <data>231</data>
      <data>195</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
